version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-events
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: eventsdb
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

  spring-app:
    image: aminemanai333/projetdevops:latest  # juste le nom de l'image
    container_name: events-app
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/eventsdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network:

